h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 100;
  /*color: #000000;*/
  line-height: 1.17em;
  margin: 0 0 0.3em 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.3em;
  margin-top: 25px;
}

h3 {
  font-size: 2.1em;
}

h4 {
  font-size: 1.5em;
  font-weight: 300;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

h6 {
  font-size: 1em;
}

.font-times {
  font-family: times, serif;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

/*.clearfix {*/
/*display: inline-block;*/
/*}*/

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.line-height {
  line-height: 0;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}

.center-relative {
  margin-left: auto;
  margin-right: auto;
}

.center-absolute {
  left: 50%;
}

.center-text {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.pd20 {
  padding: 20px;
}

.pd10 {
  padding: 10px;
}

.pdrl20 {
  padding: 0 20px;
}

.pdtb10 {
  padding: 10px 0;
}

.top-5 {
  margin-top: 5px;
}

.top-10 {
  margin-top: 10px;
}

.top-15 {
  margin-top: 15px;
}

.top-20 {
  margin-top: 20px;
}

.top-25 {
  margin-top: 25px;
}

.top-30 {
  margin-top: 30px;
}

.top-50 {
  margin-top: 50px;
}

.top-60 {
  margin-top: 60px;
}

.top-70 {
  margin-top: 70px;
}

.top-75 {
  margin-top: 75px;
}

.top-80 {
  margin-top: 80px;
}

.top-100 {
  margin-top: 100px;
}

.top-105 {
  margin-top: 105px;
}

.top-120 {
  margin-top: 120px;
}

.top-150 {
  margin-top: 150px;
}

.top-200 {
  margin-top: 200px;
}

.top-300 {
  margin-top: 300px;
}

.top-400 {
  margin-top: 400px;
}

.top-500 {
  margin-top: 500px;
}

.top-negative-30 {
  margin-top: -30px;
}

.left-35 {
  margin-left: 35px;
}

.left-120 {
  margin-left: 120px;
}

.right-120 {
  margin-right: 120px;
}

.right-35 {
  margin-right: 35px;
}

.right-20 {
  margin-right: 20px;
}

.bottom-10 {
  margin-bottom: 10px !important;
}

.bottom-20 {
  margin-bottom: 20px !important;
}

.bottom-25 {
  margin-bottom: 25px !important;
}

.bottom-30 {
  margin-bottom: 30px !important;
}

.bottom-50 {
  margin-bottom: 50px;
}

.bottom-100 {
  margin-bottom: 100px;
}

.BorderTop {
  border-top: 1px solid #ccc;
}

.BorderRight {
  border-right: 1px solid #1b1b1b;
}

.BorderBottom {
  border-bottom: 1px solid #1b1b1b;
}

.BorderLeft {
  border-left: 1px solid #ccc;
}

.BorderNoTop {
  border: 1px solid #ccc;
  border-top: 0;
}

.BorderNone {
  border: none;
}

.y-scroll {
  overflow-y: scroll;
}

.x-auto {
  overflow-x: auto;
}

.x-hidden {
  overflow-x: hidden;
}

.width-83 {
  width: 83%;
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}

.width-100 {
  width: 100%;
}

.border-200 {
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

.background-fixed {
  background-attachment: fixed;
  background-size: cover;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.width-45 {
  width: 45%;
}

.width-40 {
  width: 40%;
}

.width-75 {
  width: 75%;
}

.width-70 {
  width: 70%;
}

.width-85 {
  width: 85%;
}

.width-100 {
  width: 100%;
}

iframe {
  width: 100%;
}

.shadow {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  -moz-opacity: 0.75;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

a.button {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  padding: 7px 30px;
  cursor: pointer;
  margin: 50px 0;
  vertical-align: middle;
  background-color: #3f3532;
  text-decoration: none;
  letter-spacing: 3px;
}

a.button:active,
a.button-border:active {
  position: relative;
  top: 1px;
}

a.button-border {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  padding: 7px 30px;
  cursor: pointer;
  margin: 50px 0;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 3px;
  border: 2px solid;
}

a.button-border.big {
  font-size: 22px;
  padding: 15px 65px;
}

/*custom*/
.col-center {
  margin: 0 auto;
}

/*
 * Metro UI CSS
 * Copyright 2012 Sergey Pimenov
 * Licensed under the MIT Lilcense
 *
 * Variables.less
 */
.fg-color-blue {
  color: #2d89ef !important;
}
.fg-color-blueLight {
  color: #44a3aa !important;
}
.fg-color-blueDark {
  color: #181d75 !important;
}
.fg-color-green {
  color: #00a300 !important;
}
.fg-color-greenLight {
  color: #99b433 !important;
}
.fg-color-greenDark {
  color: #1e7145 !important;
}
.fg-color-red {
  color: #a60813 !important;
}
.fg-color-yellow {
  color: #ffc40d !important;
}
.fg-color-orange {
  color: #e3a21a !important;
}
.fg-color-orangeDark {
  color: #da532c !important;
}
.fg-color-pink {
  color: #9f00a7 !important;
}
.fg-color-pinkDark {
  color: #7e3878 !important;
}
.fg-color-purple {
  color: #603cba !important;
}
.fg-color-darken {
  color: #1d1d1d !important;
}
.fg-color-white {
  color: #ffffff !important;
}
.fg-color-grayDark {
  color: #525252 !important;
}
.fg-color-gray {
  color: #aaaaaa !important;
}
.bg-color-blue {
  background-color: #2d89ef !important;
}
.bg-color-blueLight {
  background-color: #44a3aa !important;
}
.bg-color-blueDark {
  background-color: #181d75 !important;
}
.bg-color-green {
  background-color: #00a300 !important;
}
.bg-color-greenLight {
  background-color: #99b433 !important;
}
.bg-color-greenDark {
  background-color: #1e7145 !important;
}
.bg-color-red {
  background-color: #a60813 !important;
}
.bg-color-yellow {
  background-color: #ffc40d !important;
}
.bg-color-orange {
  background-color: #e3a21a !important;
}
.bg-color-orangeDark {
  background-color: #da532c !important;
}
.bg-color-pink {
  background-color: #9f00a7 !important;
}
.bg-color-pinkDark {
  background-color: #7e3878 !important;
}
.bg-color-purple {
  background-color: #603cba !important;
}
.bg-color-darken {
  background-color: #1d1d1d !important;
}
.bg-color-white {
  background-color: #ffffff !important;
}
.bg-color-gray {
  color: #aaaaaa !important;
}
.bg-color-grayDark {
  background-color: #525252 !important;
}
[class*="border-color"] {
  border: 2px solid;
}
.border-color-blue {
  border-color: #2d89ef !important;
}
.border-color-blueLight {
  border-color: #44a3aa !important;
}
.border-color-blueDark {
  border-color: #181d75 !important;
}
.border-color-green {
  border-color: #00a300 !important;
}
.border-color-greenLight {
  border-color: #99b433 !important;
}
.border-color-greenDark {
  border-color: #1e7145 !important;
}
.border-color-red {
  border-color: #a60813 !important;
}
.border-color-yellow {
  border-color: #ffc40d !important;
}
.border-color-orange {
  border-color: #e3a21a !important;
}
.border-color-orangeDark {
  border-color: #da532c !important;
}
.border-color-pink {
  border-color: #9f00a7 !important;
}
.border-color-pinkDark {
  border-color: #7e3878 !important;
}
.border-color-purple {
  border-color: #603cba !important;
}
.border-color-darken {
  border-color: #1d1d1d !important;
}
.border-color-white {
  border-color: #ffffff !important;
}
.border-color-gray {
  border-color: #aaaaaa !important;
}
.border-color-grayDark {
  border-color: #525252 !important;
}

/* padding & margin */

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.mt5 {
  margin-top: 5px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}

.pl5 {
  padding-left: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.pt5 {
  padding-top: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pt10 {
  padding-top: 10px;
}

/* padding & margin */
